.offset-lg-2.col-lg-8
  %h1 Positions

  %table.table#positions-table
    %thead
      %tr
        %th
        %th.text-end Balance
    %tbody
      - @positions.each do |p|
        - next if p.quantity == 0
        %tr
          %td{id: "security-#{p.security.id}"}= p.security.name
          %td.text-end= number_with_delimiter(p.quantity, delimiter: ",", precision: 4, strip_insignificant_zeros: true)
