%header
  %nav.navbar.navbar-expand-lg.navbar-light
    = link_to "Gain", root_path, class: 'navbar-brand'
    %button.navbar-toggler(data-toggle="collapse" data-target="#navbarNav")
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarNav
      %ul.navbar-nav
        %li.nav-item
          = link_to settings_path do
            %i.bi.bi-gear
        - if @account
          %li.nav-item.nav-link.disabled= @account.title

  / - if signed_in?
  /   = button_to 'Sign out', sign_out_path, method: :delete
  / - else
  /   = link_to 'Sign in', sign_in_path



