%nav.navbar.main.navbar-expand-lg.navbar-dark(style = "background-color: #111" id = 'main-navbar')
  .container-fluid
    = link_to "Gain", root_path, class: 'navbar-brand'
    .d-flex
      %ul.navbar-nav.me-auto
        - if @account
          %li.nav-item
            = @account.title
        %li.nav-item
          = link_to accounts_path, id: 'settings-link' do
            %i.bi.bi-gear.p-2

  / - if signed_in?
  /   = button_to 'Sign out', sign_out_path, method: :delete
  / - else
  /   = link_to 'Sign in', sign_in_path



