%h1 Securities

%table.table

  %thead
    %tr
      %th
      %th


  %tbody
    - @securities.each do |security|
      %tr
        %td= security.name
        %td.text-end
          = link_to 'Edit', edit_security_path(security)
          \|
          = link_to 'Destroy', security, method: :delete, data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' }

%br

= link_to 'New Security', new_security_path
