body {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 1.66em;
}

a {
  text-decoration: none;
}


label {
  margin-bottom: 0.5rem;
}

.nav .active {
  font-weight: 700;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
}

.notification-icon {
  display: inline-block;
  margin-right: 1em;
  font-weight: 900;
}

table.table .tax-data {
  background-color: #333;
}

h1#home {
  margin-top: 1.8em;
  margin-bottom: 0;
  font-size: 5em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

@media print {

  table.table td, th {
    color: #000 !important;
  }
  h1,h2,h3, .navbar-brand, .account-title {
    color: #000 !important;
  }
}
