%ul.nav.justify-content-center.mb-3
  %li.nav-item
    = link_to "Positions", account_positions_path(@account), class: "nav-link #{ controller_name == 'positions' ? 'active' : nil }"
  %li.nav-item
    = link_to "Transactions", account_transactions_path(@account), class: "nav-link #{ controller_name == 'transactions' ? 'active' : nil }"


